.perfil-container {
    width: 100%;   /* Define a largura do container */ 
    height: auto;   /* Define a altura do container */ 

    display: flex;   /* Centraliza o card no meio da página */ 

    text-align: leaft; /* centralizar o text */

    justify-content: leaft;   /* Centraliza o card no meio da página */ 

  }

  .perfil-round {     /* Estilos para deixar o card redondo */ 

      border-radius: 100%;     /* Deixa os cantos arredondados*/  

      width: 170px;     /* Define a largura do card*/  

      height: 170px;     /* Define a altura do card*/  

      background-color:#292929;     /* Cor de fundo do card*/  

      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
          /* Sombra no fundo do card*/  								       } 
.perfil-content {         padding: 10px 0px;         text-align : center ;       } </style>


.tabela-a {
    width: 50%;   /* Define a largura do container */ 
    height: "match_parent";   /* Define a altura do container */ 

    display: flex;   /* Centraliza o card no meio da página */ 

    text-align: center; /* centralizar o text */

    justify-content: center;   /* Centraliza o card no meio da página */ 

  }

  .tabela-b {     /* Estilos para deixar o card redondo */ 

      border-radius: 8%;     /* Deixa os cantos arredondados*/  

      width: 255px;     /* Define a largura do card*/  

      height: 300px;     /* Define a altura do card*/  

      background-color:#303030;     /* Cor de fundo do card*/  

      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
          /* Sombra no fundo do card*/  								       } 
.tabela-c {         padding: 20px 16px;         text-align : center ;       } </style>
